/* CSS RESET */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* MAIN STYLES */
body {
    background-color: #FFFFFA;
}

/* FONT STYLES */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #555;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #555;
    font-weight: 200;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #555;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #555;
    font-weight: 200;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 200;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

p, li {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    color: #555;
}

.whitetext {
    color: white;
}

.lightgrey {
    color: #999;
}

.subtitle {
    text-transform: none;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

sup { 
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

code {
    background: rgba(0, 0, 0, 0.0375);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.64em;
}

a {
    border-bottom: dotted 1px;
    text-decoration: none; 
    color: inherit;
}

a:hover {
    color: #990000;
    border-bottom: none;
}

blockquote {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-transform: none;
    color: #555;
    
    border-color: #dfdfdf;
    border-left: solid 4px #dfdfdf;
    font-style: italic;
    margin: 0 0 2em 0 ;
    padding: 1em 0 1em 2em;
    quotes: none;
}

pre code {
    display: block;
    padding: 1em 1.5em;
    overflow-x: auto;
}

ul {
    list-style: disc;
    padding-left: 1em;
}

ol {
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li{
    border-color: #dfdfdf;
    border-top: solid 1.25px #dfdfdf;
    padding: 1em 0;
}

ul.alt li:first-child {
    border-top: none;
}


/* ITEM STYLES */
.whitehorizontalbar {
    width: 500px;
    height: 2px;
    background-color: #fff;
    text-align: center;
    margin: 10px 0;
}

hr {
    border-color: #dfdfdf;
    border: 0;
    border-bottom: solid 2px #dfdfdf;
    margin: 3em 0;
    box-sizing: border-box;
    clear: both;
    /* width: 100%;
    height: 1.75px;
    background-color: #bbb;
    color: #555;
    text-align: center;
    margin: 10px 0;
    */
}

.scrollarrow {
    transform: translateY(0);
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 0.6em;
    height: 8.5em;
    left: 50%;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.225em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;
}

button {
    background-color: transparent;
    border: solid; /* 0 */
    border-color: #cccccc;
    border-width: 0.05em;
    border-radius: 5px;
    min-height: 3em;
    padding: 1em 2em;
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 13px;
    
    box-shadow: inset 0 0 0 1pz #cccccc;
    color: #777 !important;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

button:hover {
    background-color: #eeeeee;
    transition: 0.15s ease-in;
}

.button-usc {
    background-color: #990000;
    color: #fff !important;
}

.button-usc:hover {
    opacity: 0.65;
    background-color: #990000;
}

.button-ucla {
    background-color: #3284bf;
    color: #fff !important;
}

.button-ucla:hover {
    opacity: 0.65;
    background-color: #3284bf;
}


/* DIV STYLES*/
#homeheader {
    width: 100%;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/2008-1206-USC-UCLA-009-RB-redblue.JPG/1200px-2008-1206-USC-UCLA-009-RB-redblue.JPG);
    opacity: 0.3;
    float: left;
    background-size: cover;
}

#indexheader {
    width: 100%;
    height: 100%;
    background-color: #252627;
}

#hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
}

#homenav {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    display: block;
}

#homenav a {
    color: #fff;
    letter-spacing: 0.225em;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Nixie One', serif;
    border: none;
}

.content {
    width: 85%;
    position: relative;
    left: 7.5%;
    right: 7.5%;
    padding: 7.5% 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #252627;
}

.footertext {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.twocolleft {
    position: relative;
    width: 50%;
    float: left;
}

.twocolright {
    position: relative;
    width: 50%;
    float: right;
}